<div class="quiz-container">
  @for (quiz of quizzes; track quiz) {
    <div class="quiz-item">
      <h2>{{ quiz.question }}</h2>
      <mat-list>
        @for (option of quiz.options; track option; let i = $index) {
          <mat-list-item
            [ngClass]="getClass(quiz.id, i + 1)"
            (click)="selectOption(quiz.id, i + 1)"
            >
            {{ option }}
          </mat-list-item>
        }
      </mat-list>
    </div>
  }
  <div class="button-container">
    <button
      mat-raised-button
      class="custom-button"
      (click)="submitAnswers()"
      [disabled]="submitted"
      >
      Submit
    </button>
  </div>
</div>
